.ajs-message.ajs-custom { 
    color: #ffffff!important;  
    background-color: #e61010!important;  
    border: dotted!important;
    border-radius: 30px!important; 
}

.ajs-success{
    border: dotted!important;
    border-radius: 30px!important; 
}