* {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 12px;
}

body{
    background-image: url(https://i.pinimg.com/originals/fe/ac/ba/feacba1462010c0794de4c3fb7a11ea1.jpg);
    background-size: cover;
    height: 100%;
}