.page-section{
    background-color: rgb(236, 202, 8);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding: 1rem;
    border: 5px double black;
    border-radius: 30px;
}