.principal {
    display: flex;
    flex-direction: column;

    &__contenedorBotones{
        display: flex;
        justify-content: space-around;
        margin: 0.313rem;

        &__boton{

        }
    }

    &__cards {
        display: flex;
        justify-content: space-around;

        &__contenedor {
            display: flex;
            flex-direction: column;
            align-items: center;

            &__select {
                display: flex;
                flex-direction: column;
                align-items: stretch;
            }
        }
    }
}
