.descripcion {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: #ecca09;
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 5px double black;
    border-radius: 30px;

    h3{
        font-size: 30px;
        margin: 5px;
        font-style: italic;
        font-weight: bold;
    }

    &-contenedor {
        display: flex;
        background-color: rgb(206, 176, 7);
        padding: 10px;
        border-radius: 30px;
        border: dotted 2px black;
        justify-content: space-around;

        .descripcion-texto {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 42%;
            
            
            p{
                font-size: 16px;
                text-align: justify;
            }
        }

        .carousel {
            width: fit-content;

        }
    }
}

.sectionIngredientes {
    height: fit-content;
    background-color: rgb(236, 202, 8);
    margin-left: 8rem;
    margin-right: 8rem;
    margin-top: 1rem;
    padding: 1rem;
    border: 5px double black;
    border-radius: 30px;

    .titulos{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 5px;
        background-color: rgb(206, 176, 7);
        padding: 10px;
        border-radius: 30px;
        border: dotted 2px black;

        h5{
            padding: 3px;
            font-size: 28px;
            font-style: italic;
            font-weight: bold;
        }
    }

    #principal {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-evenly;
        background-color: rgb(206, 176, 7);
        padding: 10px;
        border-radius: 30px;
        border: dotted 2px black;

        .principal__cards {
            display: flex;
            justify-content: space-around;

            &__contenedor {
                display: flex;
                flex-direction: column;
                align-items: center;
                margin-bottom: 1rem;

                .card {
                    padding: 5px;
                    border: solid 2px black;
                    border-radius: 15px;
                    display: flex;
                    align-items: center;
                    height: 33rem;
                    margin: 5px;

                    .btn {
                        display: none;
                    }

                    .eightbit-btn {
                        width: 12rem;
                        margin: 5px;
                        height: fit-content;
                        font-size: 14px;
                        color: black;
                    }

                    img {
                        width: 20rem;
                        height: 17rem;
                        border-radius: 10px;
                        border: dotted 2px black;
                    }
                }
            }
        }
    }
}

.modal-carrito {
    display: none;
}
